.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    z-index: 9000;
    overflow-y: auto; 
    height: 100%;
}

.popup-window {
    background-color: white;
    width: 70%;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative; /* Set position to relative or absolute */
    z-index: 9500; /* Ensure the popup window appears over everything */
}

.popup-content {
    display: flex;
}

.popup-img-container{
    display: flex;
    flex-direction: column;
    height: 50%;
}

.popup-img{
    height: 100%;
}

.popupbutton{
    margin: 2%;
    font-size: 150%;
}
.mediadetail{
    display: flex;
    font-size: 120%;
    padding: 2%;
    margin-right: 2%;
}

.popupIcon-heart, .popupIcon-group{
    font-size: 300%;
    margin: 2%;
    cursor: pointer;
}

.group-icon-container{
    display: flex;
    text-align: center;
    align-items: center;
}

.popupIcon-heart{
    color: rgb(214, 82, 104);
}

.popup-reviews-section{
    margin-left: 3%;
}

.popup-review{
    list-style: none;
    font-size: 120%;
    padding: 2%;
    margin-left: 3%;
}

.popup-reviewinfo{
    margin-bottom: 1%;
}

.popup-reviewstar{
    display: flex;
}

.popup-reviewer{
    font-size: 80%;
    font-style: italic;
    margin-left: 2%;
}

.write-Review{
    display: flex;
    flex-direction: column; 
    margin: 2%;  
}

.writeInput{
    font-size: 100%;
    text-align: left;
    border: none;
    padding: 1%;
    border: 3px double black;
}

.group-icon-container {
    position: relative;
}

.group-popup {
    position: absolute;
    top: calc(100%); /* Adjust the distance from the icon */
    left: 25%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    z-index: 20000; /* Ensure it's above other elements */
}

.group-option {
    cursor: pointer;
    padding: 5px;
}

.group-option:hover {
    background-color: #f0f0f0;
}

.movietitle, .seriesTitle{
    color: black;
}

.notification{
    position: fixed;
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    overflow-y: auto; 
    font-weight: bold;
    color: black;
}

.notification.success {
    border: 5px solid rgb(2, 112, 21);
    width: 10%;
    height: 10%;
}

.notification.failure {
    border: 5px solid rgb(175, 19, 19);
    width: 15%;
    height: 15%;
}



@media (max-width: 950px){    
   

    .movietitle{
        font-size: 150%;
        font-weight: bold;
    }

    .popup-img-container{
        width: 40%;
        height: 300px;
    }
       
    .popupbutton{
        font-size: 100%;
    }
    
    .mediadetail{
        font-size: 90%;
        padding-left: 10%;
        margin-right: 1%;
    }
    
    .popupIcon-group{
        font-size: 200%;
    }
    

    .popup-reviewtitle{
        font-size: 150%;
        font-weight: bold;
    }
    
    .popup-review{
        font-size: 90%;
    }
    
    .popup-reviewer{
        font-size: 60%;
    }

    .notification{
        font-size: 80%;
    }

    .notification.success {
        width: 15%;
        height: 15%;
    }
    
    .notification.failure {
        width: 20%;
        height: 20%;
    }
}

@media (max-width: 500px){  
    
    .movietitle{
        font-size: 100%;
    }

    .popup-img-container{
        width: 30%;
        height: 150px;
    }
       
    .popupbutton{
        font-size: 50%;
    }
    
    .mediadetail{
        font-size: 70%;
    }
    
    .popupIcon-group{
        font-size: 100%;
    }
    

    .popup-reviewtitle{
        font-size: 100%;
    }
    
    .popup-review{
        font-size: 70%;
    }
    
    .popup-reviewer{
        font-size: 50%;
    }

    .notification{
        font-size: 80%;
    }

    .notification.success {
        width: 15%;
        height: 15%;
    }
    
    .notification.failure {
        width: 20%;
        height: 20%;
    }
}