.containerseries {
    flex: 8%;
    display: flex;
    font-size: 70%;
    margin-bottom: 5%;
}

.poster-gallery {
    display: flex;

}

.series-card {
    display: flex;

}

.series-container {
    margin-right: 10px;
    /* Lisää marginaali oikealle */
    margin-bottom: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.series-poster {
    width: auto;
    height: 300px;
}

.series-name {
    text-align: center;
    font-size: 150%;
}

.series-poster-container {
    position: relative; /* Ensure the container is positioned relative to its parent */
}

.series-poster-container:hover {
    transform: scale(1.1);
    /* Kasvata kuvan kokoa hiiren ollessa päällä */
}

.series-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.747);
    color: rgba(253, 253, 253, 1);
    padding: 10px;
    opacity: 0;
    visibility: hidden; /* Initially hide the description */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Add transition for opacity and visibility */
}

.series-poster-container:hover .series-description {
    opacity: 1;
    visibility: visible; /* Show the description on hover */
}
