.containermovie {
    display: flex;
    font-size: 70%;
    margin-bottom: 5%;
}

.poster-gallery {
    display: flex;

}

.movie-card {
    display: flex;

}

.movie-container {
    margin-right: 10px;
    /* Lisää marginaali oikealle */
    margin-bottom: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.movie-poster {
    width: 200px;
    height: auto;
}

.movie-name {
    text-align: center;
    font-size: 150%;
}

.movie-poster-container {
    position: relative; /* Ensure the container is positioned relative to its parent */
}

.movie-poster-container:hover {
    transform: scale(1.1);

}

.movie-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.747);
    color: rgba(253, 253, 253, 1);
    padding: 10px;
    opacity: 0;
    visibility: hidden; /* Initially hide the description */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Add transition for opacity and visibility */
}

.movie-poster-container:hover .movie-description {
    opacity: 1;
    visibility: visible;
}
