
.top {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    font-size: 250%;
    padding: 0.5% 0;
    background-color: rgba(37, 37, 37, 0.5);
    font-family: "Poiret One", sans-serif;
    color: white;
}

.topLeft, .topRight{
    flex: 20%;   
}

.topLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}

.websitename{
    text-align: center;
    margin-left: 10%;
    font-family: "Rubik Doodle Shadow", system-ui;
    line-height: 1;
}

.topRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topLeftImg{
    width: 50%;
    cursor: pointer;
    margin-bottom: 10%;
    padding-left: 5%;
}

.topRightImg{
    width: 25%;
    border-radius: 50%;
    margin-left: 10%;
    cursor: pointer;
}

.topCenter{
    flex: 60%;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topRightList{
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 80%;
    font-weight: 400;
    cursor: pointer;
}

.right{
    font-size: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.logout {
    font-size: 75%;
    position: absolute ;
    top: 30%;
    right: 3%;

}

.topLogout{
    display: flex;
    list-style: none;
}

@media (max-width: 1200px){

    .top {
        font-size: 200%;
    }
  
    .websitename{
        font-size: 90%;
        margin-top: 2%;
        line-height: 1;
    }
    
    .topLeftImg{
        width: 60%;
    }
    
    .topRightImg{
        width: 20%;
        margin-left: 20%;
    }
    
    .right{
        font-size: 60%;
    }
    
    .logout {
        font-size: 50%;
    }

}

@media (max-width: 800px){

    .top {
        font-size: 120%;
    }
  
    .websitename{
        margin-top: 5%;
        line-height: 1.5;
    }
     
    .topRightImg{
        margin-top: 5%;
    }
    
}

@media (max-width: 600px){

    .top {
        font-size: 100%;
    }
  
    .websitename{
        font-size: 80%;
    }

    .topRightImg{
        margin-top: 10%;
    }
    
    .topRightList{
        margin-top: 10%;
    }
    
}

@media (max-width: 400px){

    .top {
        font-size: 50%;
    }
  
    .websitename{
        font-size: 70%;
        line-height: 2;
        margin-top: 10%;
    }

    .topLeftImg{
        width: 40%;
    }
       
    .topRightImg{
        margin-top: 10%;
    }
    
    .topRightList{
        margin-top: 10%;
    }
    
}