

.allGroups {
    margin-top: 30em;
    display: inline-block;
    
}

.allGroups a {
    text-decoration: none;
    color: white;
    margin: 5px;
    background-color: #888888;
    padding: 32px;
    display: block;
    
}

.allGroups a:hover {
    box-shadow: inset 30em 0 0 0 rgba(37,37,37,0.5);
}

.createGroup {
    display: contents;
    margin: 30em;
}

.popup {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}
