.home-container {
    margin-top: 130%;
    display: flex;
    flex-direction: column;
}


header {
    background-color: black;
    width: 100%;
}


.home {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    background-color: #808080;
}

.home-header {
    text-align: left;
    margin-left: 5%;
    color: aliceblue;
}

@media (max-width: 1200px){
    .home-container {
        margin-top: 130%;
    }

    .home-header {
        margin-left: 20%;
    }
}

@media (max-width: 800px){
    .home-container {
        margin-top: 115%;
    }

    .home-header {
        margin-left: 0%;
        font-size: 80%;
    }

}

@media (max-width: 400px){
    .home-container {
        margin-top: 190%;
    }

    header {
        margin-left: -10%;
    }
         
    .home {
        margin-top: 5%;
    }

    .home-header {
        margin-left: 20%;
    }
}