.login{
    height: calc(50vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5)), url('../img/login.png');
    background-size: cover;
    background-position: center;
    margin-top: 50%;
    width: 50%;
    border-radius: 50px;
}

.login-title{
    font-size: 200%;
}

.login-form{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.login-form label{
    margin: 2% 0;
    font-weight: bold;
}

.login-form input{
    padding: 10px;
    background-color: white;
    border: none;
}

.login-button{
    cursor: pointer;
}



