.profile-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    font-family: "Raleway", sans-serif;
}

.profile-info {
    display: flex;
    margin: 1%;
    padding: 2%;
    width: 80%;
    background-color: rgba(37, 37, 37, 0.5);
}

.profile-pic {
    flex: 30%;
    border-right: solid 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-photo{
    width: 50%;
    border-radius: 50%;
}


.photo-add {
    color: turquoise;
    font-size: 100%;
    padding: 5%;
    position: absolute;
    bottom: 0;
    right: 10%;
}



.profile-input:focus {
    outline: none;
}

.profile-text {
    flex: 60%;
    padding-left: 5%;
    color: white;
    position: relative;
}

.profile-buttons{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    right: 0%;
    display: inline-block;
}

.change-password {
    margin-right: 10px; /* Lisää tilaa alapuolelle */
  }
  
  .delete-user {
    background-color: brown;
  }

.change-password-form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 2%;
    padding: 1%;
}

input{
    padding: 1%;
    margin-bottom: 1%;
}

.profile-group-container{
    display: flex;
    width: 80%;
    margin: 1%;
    padding: 1%;
    color: aliceblue;
}

.profile-group-name{
    font-size: 200%;
    font-family: "Poiret One", sans-serif;
}

.profile-group {
    flex: 50%;
    background-color: rgba(37, 37, 37, 0.5);
    margin: 2%;
    padding: 2%;
   
}

.profile-group-list{
    list-style: none;
    padding: 2%;
    text-align: center;
    font-size: 110%;
}

.profile-group-list-item{
    padding: 2%;
}

.profile-invites{
    background-color: rgba(37, 37, 37, 0.5);
    margin-bottom: 2%;
    padding: 2%;
    text-align: center;
    flex: 50%;
    margin: 2%;
}

.profile-favorite{
    width: 80%;
    background-color: rgba(37, 37, 37, 0.5);
    color: aliceblue;
    padding: 2%;
    margin: 1%;
    text-align: center;
}

.profile-favorite-items{
    display: flex;
    margin-top: 2%;

}

.profile-favourite-picture{
    width: 80%;
    height: 80%;
}

.profile-favourite-title{
    padding-top: 5%;
}


