.review-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  align-items: center;
}

.review-header{
  margin-top: 10%;
  font-size: 100%;
}

.review-area{
  display: flex;
  flex-wrap: wrap; /* Allow results to wrap to the next line if needed */
  align-items: center; /* Center items horizontally */
  justify-content: center;
  text-align: center;
  background-color: rgba(37, 37, 37, 0.5);
  margin: 2%;
  border-radius: 50px;
}

.review-card {
  display: flex;
  margin: 1%;
  width: 30%; /* Adjust width to accommodate both text and picture */
  height: 250px;
  background-color: #ccc;
  border-radius: 50px;
  padding: 2%;
  align-items: center;
  font-size: 100%;
}

.review-text {
  flex: 1; /* Allow text to take up remaining space */
  text-align: left;
  padding: 1%;
}

.review-picture {
  height: 200px;
  border: 1px solid #ccc;
  margin-left: auto; /* Push picture to the right */
}

@media (max-width: 1200px){

  .review-card {
    font-size: 70%;
  }

  .review-picture {
    height: 150px;
  }

}

@media (max-width: 800px){
  .review-header{
    margin-top: 15%;
  }

  .review-picture {
    height: 150px;
  }

  .review-card {
    margin: 1%;
    border-radius: 15px;
    height: 200px;
    padding: 1%;
    width: 45%;
    font-size: 60%;
  }

  .review-area{
    margin: 2%;
    border-radius: 5px;
  }
}

@media (max-width: 400px){


  .review-picture {
    height: 95px;
  }

  .review-card {
    margin: 1%;
    border-radius: 5px;
    height: 100px;
    padding: 1%;
    width: 80%;
    font-size: 60%;
  }

  .review-area{
    margin: 2%;
    border-radius: 5px;
  }
  
}